<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
	  <br />
<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=O_5JIa8Y0WwriwI7r0Zxc5GyENB070VhAxcMjQn1A3w&cl=ffffff&w=a"></script>
  </div>
	
  <div id="index">
    <h1>About Me</h1>
    <p> I am currently a Professor at School of Automation, Guangdong University of Technology. <br><br>

        I obtained my Ph.D degree from the South China University of Technology in 2009, working closely with Profs. Shengli Xie</a>, <a href="http://web-ext.u-aizu.ac.jp/~sding/" style="text-decoration:underline;">Shuxue Ding</a> and <a href="http://www.deakin.edu.au/~yxiang/" style="text-decoration:underline;">Yong Xiang</a>. <br><br>

        zuyuanyang AT gmail.com, yangzuyuan AT gdut.edu.cn <br>

    </p>

    
    <h1>Research Interests</h1>
    <p>
    <ul>
      <li>Sparse Representation(SR), Blind Source Separation(BSS), Nonnegative Matrix Factorization(NMF)<br></li>
      <li>Parallel Intelligence (PI)/Artifitial Intelligence (AI)<br>
      <!--img src="./images/fig_sparsity.png"!-->
      </li>
      <li>Applications of signal/image processing methods in PI/AI</li><br>
<b>Every year we have a number of places to recruit post graduates and Ph.D students. If you think you are highly motivated and have strong interest in image/signal processing and machine learning algorithm, please feel free to send me an email to discuss the opportunities.
It does not matter whether you are a graduate student or just an undergraduate; as long as you are willing to work hard, you are welcomed to join my research 
team!<br>
	    我的研究团队每年都有研究生名额，我们正在寻找对机器学习与信号处理感兴趣的同学，同时拥有良好的数学能力和英语水平。如果对我们的研究方向感兴趣，并且热爱做研究，请邮件联系我！我们有充足的经费支持，良好的国际合作关系，支持学生出国访学，对于有意向读博的同学我会优先考虑！欢迎您加入我们！</b> 
    </ul>
    </p>
    
    <h1>Students</h1>
    <p>
    <ul>
      <li>Cooperator:Zhenni Li, Wei Yan<br> </li>
      <li>Post-Ph.D: Junjie Yang<br> </li>
      <li>Ph.D students: Wei Han, Jing Su, Hailong Yang</li>
	     <li>Post Graduates: Haiping Wang, Yifei Hu, Mo Chen, Xiaowen He,<br>
		                 Naiyao Liang, SongCan Chen, Hao Yang, Zhen Wang, Chaolang Xu,<br>
                                 Haonan Huang, Fangan Lu, Junlin Zhu, Yuhui Xie<br>
	    </li>
       <li>Undergraduates: Xichen Chen, Yiwen Chen, Zongjian Li<br> </li>
    </ul>
    </p>   
  </div><!-- /#index -->
</div><!-- /#main -->
 

	
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
         
</body>
</html>


