<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    <h1>About Me</h1>
    <p> I'm a second year PhD. student at ENS Lyon, working with Dr. Bora Ucar and Prof. Yves Robert in ROMA group within LIP. My main area of research is combinatorial scientific computing (CSC). I am interested in problems with combinatorial and HPC aspect arising in (multi)linear algebra, scientific computing, and machine learning.
    I focus on developing fast algorithms, modeling/analyzing their complexity, and providing very efficient (parallel) implementations to run on modern HPC architectures for key computational methods in these areas.
    Specifically, in my thesis I concentrate on high performance parallel tensor computations.
    I consider myself to be a computer scientist as well as a software engineer. 
    </p>

    <p>
    Before arriving at ENS Lyon, I completed my masters studies on computational science and engineering at Georgia Tech.
    During these years, I had the chance to do two awesome internships as a software engineer in cuSPARSE team of NVIDIA in Santa Clara, CA, and Philantropy team of Palantir in Palo Alto, CA.
    </p>
<!--    During these studies, I had the chance work as a software engineering intern in the cuSPARSE team of NVIDIA in Santa Clara, CA, where I contributed to the partitioning routines of a parallel GPU-based algebraic multigrid implementation (amgX) as well as to the implementation of a sparse direct solver, and in the Philantropy team of Palantir, where we developed an HTML5 web application from ground up in order to help end homelessness in 25 major US cities as a part of the <a href="100khomes.org">100.000 Homes Campaign</a>.-->


    <h3><a href="{{ site.url}}/posts/">Recent Updates</a></h3>
    {% for post in site.posts limit:8 %}
    <article>
      {% if post.link %}
        <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
      {% else %}
        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
      {% endif %}
    </article>
    {% endfor %}

    <footer role="contentinfo">
      <div class="article-author-bottom">
        {% include _author-bio.html %}
      </div>
    </footer>
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
